{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment.deletion'|trans }}
{% endblock %}

{% block body %}
<div class="my-page">
    <h1 class="is-size-3">{{ 'comment.deletion.confirmation' |trans }}</h1>
    {{ form_start(form) }}
    <div>
        <input type="submit" value="{{'delete' |trans }}"class="button is-danger" />
    </div>
    <div class="form-group row float-sm-left">
       <a class="form-button button is-link" href="{{ path('app_book_index') }}">{{'back' |trans}}</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}