{{ form_start(form) }}
    <div class="form-row">
        <div class="col">
                {{ 'name' |trans }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
        </div>
    </div>
    <button class="form-button button is-primary">{{ button_label|default('save' |trans) }}</button>
{{ form_end(form) }}
