{{ form_start(form) }}
    <div class="form-row">
        <div class="col">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
                {{ 'password'|trans  }}
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
                {{ 'name'|trans }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
                {{  'role'|trans  }}
                {{ form_widget(form.roles) }}
                {{ form_errors(form.roles) }}
        </div>
    </div>

    <button class="form-button button is-primary" >{{ button_label|default('save'|trans) }}</button>
    

{{ form_end(form) }}
